
<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="project-holder" *ngFor="let project of projects" >

    <mat-card *ngIf="projects.length > 0 && !isLoading">
        <mat-accordion multi="true">
            <mat-expansion-panel >
              <mat-expansion-panel-header>
               Project Title: {{ project.title }}
              </mat-expansion-panel-header>
              <h4>Project Description</h4>
              <p>{{ project.description }}</p>
              <h4>Project Started Date</h4>
              <p>{{ project.addedDate }}</p>
              <mat-action-row *ngIf='userIsAuthenticated && userId === project.creator'>
                  <a mat-button color="primary" [routerLink]="['/edit', project.id]">EDIT</a>
                  <button mat-button color="warn" (click)="onDeleteProject(project.id)">DELETE</button>
                </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>

          <p class="info-text mat-body-1" *ngIf="projects.length <= 0 && !isLoading">No Posts Added</p>





      </mat-card>


</div>
